@page "/"
@using System.Globalization
@using MudBlazor.Utilities

@inject IJSRuntime JS
@inject ISnackbar Snackbar

<PageTitle>Color Info - DinoColors</PageTitle>

<div class="d-flex flex-grow-1 gap-4">
    <div class="flex-grow-1">
        <MudColorPicker DisableToolbar="false"
                        Label="Color"
                        PickerVariant="PickerVariant.Dialog"
                        DisableAlpha="true"
                        @bind-Value="currentColor" Text="@currentColorValue" TextChanged="ColorChanged" />
    </div>
    <div class="pt-5">
        <MudButton Variant="Variant.Filled"
            StartIcon="@Icons.Material.Filled.ContentCopy"
            Color="Color.Primary"
            Size="Size.Small"
            @onclick="CopyColorToClipboard">Copy</MudButton>
    </div>
</div>



<ColorInfo 
    HexRGB="@currentColorValue" 
    DecimalRGB="@currentDecimalRGB" 
    PercentRGB="@currentPercentRGB" 
    CMYK="@currentCMYK" 
    HSL="@currentHSL" 
    HSV="@currentHSV" />

@code {
    private MudColor currentColor = "#000000";

    private string currentColorValue = "#000000";
    private string currentDecimalRGB = "0, 0, 0";
    private string currentPercentRGB = "0, 0, 0";
    private string currentCMYK = "0, 0, 0, 100";
    private string currentHSL = "0°, 0, 0";
    private string currentHSV = "0°, 0, 0";

    private void ColorChanged(string newColorValue)
    {
        var decimalRGB = DecimalRGB.FromHex(newColorValue);
        var fractionalRGB = FractionalRGB.FromDecimalRGB(decimalRGB);
        var cmyk = CMYK.FromFractionalRGB(fractionalRGB);
        var hsl = HSL.FromFractionalRGB(fractionalRGB);
        var hsv = HSV.FromFractionalRGB(fractionalRGB);

        currentColorValue = newColorValue;
        currentDecimalRGB = decimalRGB.ToString();
        currentPercentRGB = fractionalRGB.ToString();
        currentCMYK = cmyk.ToString();
        currentHSL = hsl.ToString();
        currentHSV = hsv.ToString();
    }

    private async void CopyColorToClipboard()
    {
        var colorHex = currentColor.ToString(MudColorOutputFormats.Hex);
        
        try
        {
            await JS.InvokeVoidAsync("copyText", colorHex);

            Snackbar.Add("Copied to clipboard!", Severity.Info);
        }
        catch (JSException)
        {
            Snackbar.Add("Error copying to clipboard!", Severity.Error);
        }
    }
}
